apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

nameSuffix: -dev

replicas:
  - name: aureus-console
    count: 1

patches:
  - target:
      kind: Deployment
      name: aureus-console
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"

configMapGenerator:
  - name: aureus-config
    behavior: merge
    literals:
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - LLM_MOCK_FALLBACK=true
